  <p>Rating: <%= @book_rating.book.average_rating.round(2) %>
    (<%= pluralize(@book_rating.book.book_ratings.size, 'vote') %>)</p>
  <p>
    <%= form_for @book_rating, remote: true do |f| %>
      <%= f.label :rating, 'Your rating' %>
      <%= f.select :rating,
        options_for_select(1..5, selected: @book_rating.rating),
        include_blank: "Not rated" %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :book_id %>
      <%= f.submit style: 'display: none' %>
    <% end %>
  </p>
