<div class="columns">
  <div class="column is-one-quarter">
    <h4 class="title is-4">Advanced search</h4>
    <%= form_with url: books_path, method: :get do |f| %>
    <div class="control">
      <div class="field">
        <%= label_tag(:term, 'Title', class: 'label is-small') %>
        <%= f.text_field :term, class: 'input is-small', value: params[:term] %>
      </div>
      <div class="field">
        <%= label_tag(:filters, 'Author', class: 'label is-small') %>
        <%= f.text_field :author, class: 'input is-small', name: 'filters[author]',
          value: (params[:filters][:author] if params[:filters].present?) %>
      </div>
      <%= submit_tag 'Search', class: 'button is-small is-primary' %>
    </div>
    <% end %>
  </div>
  <div class="column" id="books">
    <%= render @books %>
  </div>
  <div class="column is-one-fifth">
    <p>
      <span class="help">Haven't found what you're looking for?</span>
      <%= link_to 'Add new book', books_path, class: 'help is-primary' %>
    </p>
  </div>
</div>
